#hud {
    /* Fixed HUD Position (e.g., Top-Right Corner) */
    position: absolute; 
    top: 50%;
    left: 20px;
    padding: 10px;
    background-color: rgba(0, 34, 34, 0.7); 
    color: white;
    font-family: Arial, sans-serif;
    border-radius: 5px;
    z-index: 1000;
    
    /* Center the floor chain within the HUD */
    display: flex;
    justify-content: center;
}

#floors-container {
    /* 1. Use Flexbox to stack the floors vertically */
    display: flex;
    flex-direction: column-reverse; /* ⭐ IMPORTANT: Renders 0 at the bottom ⭐ */
    align-items: flex-start;
    gap: 2px; /* Space between the squares */

    position: absolute;
    top: 50%;
    left: 10px;
    z-index: 1001;

    transform: translateY(-50%) /* shifts container UP by half its own height */
}

.floor_square {
    /* Styling for each square */
    width: 15px;
    height: 15px;
    border: 1px solid #406040;
    background-color: #343; /* Default color */
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    text-align:center;
    color: #6ee7b7;
}

.floor_square_highlight {
    /* Styling for each square */
    width: 15px;
    height: 15px;
    border: 1px solid #6ee7b7;
    background-color: #6ee7b7;
    transition: background-color 0.3s;
    text-align:center;
    color: #343;
    box-shadow: 0 0 8px #6ee7b7; /* Subtle glowing effect */
}

#floor-overlay {

    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 2;
    pointer-events: none;

}